<div class="content__title">
  投稿の編集
</div>
  <%= form_with model: @tweet, class: :form, local: true do |form|%>
    <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
    <%= form.select :category, [["食べ歩き", "食べ歩き"],["お食事処", "お食事処"],["アクティビティ","アクティビティ"], ["施設", "施設"],["寺社仏閣", "寺社仏閣"]], class: :form__select  %>
    <%= form.text_area :content, placeholder: :本文, class: :form__text %>
    <%= form.submit '投稿する', class: :form__btn %>
  <% end %>
