<!DOCTYPE html>
<html>
  <head>
    <title>Skill labo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f2ec3b680c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "SKILL LABO", root_path, class: "header__title--text" %>
      </div>
      <div class="header__information">
        初めての方へ
      </div>
      <div class="header__right">
        <% if user_signed_in? %>
          <%= link_to "新規投稿", new_tweet_path, class: "header__right--btn"%>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
        <% else %>
          <%= link_to "ログイン",  new_user_session_path, class: "header__right--btn" %>
          <%= link_to "新規登録",  new_user_registration_path, class: "header__right--btn" %>
          <%= link_to "ゲストログイン",  users_guest_sign_in_path, method: :post, class: "header__right--btn"%>
        <% end %>
      </div>
    </header>
    <% if flash[:notice] %>
     <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
     <% end %>
     <% if flash[:alert] %>
     <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
     <% end %>
    <div class="contents">
      <%= yield %>
    </div>
  </body>
</html>